# UE4 local data
Binaries/*
Intermediate/*
Saved/*
DerivedDataCache/*

# Visual Studio files
*.sdf
*.opensdf
*.suo
*.sln

# Sublime stuff
*.sublime-project
*.sublime-workspace

# Any stray object files

*.obj
*.exp